@import "config";
@import "utilities";
@import "forms";

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}


body{
  font-family: "Raleway","serif";
  font-size: 1rem;
  line-height: 1.6;

  background-color: #fff;
  color: #333;
}

a{
  text-decoration: none;
  color: $primary-color;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2 rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul{
    display: flex;
  }

  a{
    color:#fff;
    padding:0.45rem;
    margin: 0.25rem;

    &:hover{
      color: $primary-color;
    }
  }
}
//landing
.landing{
  position: relative;
  background: url("../dist/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
&-inner{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
   height: 100%;
   width: 80%;
}
}
